.IDPASS {
    width: 30%;
    padding: 2rem 3rem;
    background: rgba(255,255,255, 0.7);
    border-radius: 10px;
    text-align: center;
}

.background{
    background-image: url('peter-wendt-123928-unsplash.jpg');
    background-size: cover;
    
}

.background form{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h2{
    text-align: center;
    margin-bottom: 0%;

}
