{% extends 'base.html' %}
{% load static %}
{% block content %}  
<div class="recipe-box">

    <div class="recipe-search">
    <a class="find-recipe">요리법 찾기</a>
        <form method = 'POST' action = ''>{% csrf_token %}
            <div class="recipe-checkbox">
                {% for post, date in post_dict.items %}
                    {% if date >= 0 %}
                    <div>
                        <input type="checkbox" name="chk_info" value="{{post.name}}" {% if post.name in food_list %} checked {% endif %}>{{post.name}}<br>
                    </div>
                    {% endif %}
                {% endfor %}
                <input type = 'submit' value="체크완료" class='button' />
            </div>
        </form>
        <div class="recipe-toggle-button">
            <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query={{foods}}레시피" target="_blank">
            <button type='submit'>검색</button>
            </a>
        </div>
    </div>
    
    <a class="my">My Fridge</a>
    
    <div class="recipe-posts">
        {% for post, date in post_dict.items %}
            {% if date < 0 %}
                <div class="contents">
                    <a href = "{% url 'detail' post.pk %}"><img src ="{{ post.img.url }}"/></a><br>
                    <div class="content_info">        
                        <p><a href = "{% url 'detail' post.pk %}"> <span>이름: </span>{{post.name}}</a><br> <span>분류: </span>{{post.family}}</p>
                        <p class="date1">{{ date }}일 지났습니다! 버리세요!</p>
                    </div>
                </div>
            {% else %}
                <div class="contents">
                    <a href = "{% url 'detail' post.pk %}"><img src ="{{ post.img.url }}"/></a><br> 
                    <div class="content_info">        
                        <p><a href = "{% url 'detail' post.pk %}"> <span>이름: </span>{{post.name}}</a><br><span>분류: </span>{{post.family}}</p>
                        <a class="date2">{{ date }}일 남았습니다</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

</div>
{% comment %} 선택에 따라 chk_info 필드의 값이 결정된다. {% endcomment %}

{% endblock content %}
</body>
</html>